<app-header></app-header>
<div class=" relative w-9/12 mx-auto mt-10 flex flex-col justify-center">
    <div class="leading-none mb-5">
        <h1 class="text-5xl font-extrabold uppercase ">
            Film
        </h1>
        <p class="font-bold text-xl bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500 bg-clip-text text-transparent uppercase">
            "Laissez-vous emporter par votre prochaine expérience cinématographique inoubliable"
        </p>
    </div>
    <app-slider [cardType]="'default'" [categorie]="'Les films du moment'" [typeDeMedia]="'FILM'" [reviews]="reviews"></app-slider>
    <app-slider [cardType]="'default'" [categorie]="'Les prochaines sorties'" [typeDeMedia]="'FILM'" [reviews]="reviews"></app-slider>
    <app-slider [cardType]="'default'" [categorie]="'Les Incontournables'" [typeDeMedia]="'FILM'" [reviews]="reviews"></app-slider>
</div>