        <div class="relative inline-block text-left z-49">
            <button 
              type="button" 
              class="inline-flex justify-center w-full rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
              (click)="toggleMenu()">
              {{ selectedMenu }}
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7l7 7 7-7"></path>
              </svg>
            </button>
            <div *ngIf="isMenuOpen" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
              <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <button (click)="selectOption('Mes Dernières actions')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  Mes Dernières actions
                </button>
                <button (click)="selectOption('Mes derniers coups de coeur')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  Mes derniers coup de coeur
                </button>
                <button (click)="selectOption('Mes dernières envies')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  Mes dernières envie
                </button>
                <button (click)="selectOption('En cours')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  En cours
                </button>
                <button (click)="selectOption('Mes oeuvres préférées')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  Mes oeuvres préférées
                </button>
                <button (click)="selectOption('Mes recommandations BD')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  Mes recommandations BD
                </button>
                <button (click)="selectOption('Mes recommandations Film')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  Mes recommandations Film
                </button>
                <button (click)="selectOption('Mes recommandations Jeu Vidéo')" class="text-gray-700 block px-4 py-2 text-sm w-full text-left hover:bg-yellow-500 hover:text-white cursor-pointer">
                  Mes recommandations Jeu Vidéo
                </button>
              </div>
            </div>
       